.callingContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    border-right: 2px solid rgb(220, 217, 217);
}

.callingHeader-text{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-weight: 620;
    font-size: 32px;
}

.callingFilter{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.callingFilter-heading{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: 550;
    background-color: rgb(113, 112, 112);
}

.callingFilter-wrapper{
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
}

.filter{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filtertype{
    display: flex;
}

.filtertype img{
    margin-left: 50px;
    cursor: pointer;
    width: 8%;
    float: right;
}

.filter1{
    display: flex;
    flex-direction: column;
}

.filterName{
    font-weight: bold;
    font-size: 15px;
}

.filterName1{
    font-weight: bold;
    font-size: 15px;
    width: 50%;
    float: left;
}
.filterInput{
    display: flex;
    gap: 10px;
}

.filterInputIcon img{
    cursor: pointer;
}

.filterInputIcon{
    background-color: rgb(220, 217, 217);
}